<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-wtn0GgO/x7mdzOs0I5RTm4iJdJW63NCGw/dSnaX2j+IBK2HQdycm3BhVcVW8Anw3" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดเชียงใหม่</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดแม่ฮ่องสอน</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดเชียงราย</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดลำพูน</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดลำปาง</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดพะเยา</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดแพร่</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดแพร่</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดแพร่</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดน่าน</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดอุตรดิตถ์</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดตาก</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดสุโขทัย</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดพิษณุโลก</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดกำแพงเพชร</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดเพชรบูรณ์</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-info">จังหวัดพิจิตร</button>
      </div> <br/>


      <div class="col-6">
      <button type="button" class="btn btn-warning">จังหวัดกาฬสินธุ์</button>
      </div>
      <div class="col-6">
       <button type="button" class="btn btn-warning">จังหวัดขอนแก่น</button>
      </div>
      <div class="col-6">
       <button type="button" class="btn btn-warning">จังหวัดชัยภูมิ</button>
      </div>
      <div class="col-6">
       <button type="button" class="btn btn-warning">จังหวัดนครพนม</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดนครราชสีมา</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดบุรีรัมย์</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดมหาสารคาม</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดมุกดาหาร</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดยโสธร</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดร้อยเอ็ด</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดเลย</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดศรีสะเกษ</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดสกลนคร</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดสุรินทร์</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดหนองคาย</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดหนองบัวลำพูน</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดอุดรธานี</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดอุบลราชธานี</button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-warning">จังหวัดอำนาจเจริญ</button>
      </div>
      

              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดกรุงเทพมหานคร</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดอุทัยธานี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดชัยนาท</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดนครสวรรค์</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดนนทบุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดประทุมธานี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดพระนครศรีอธุธยา</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดลพบุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดสมุทราปราการ</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดสมุทราสงคราม</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดสระบุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดสิงห์ค์บุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-danger">จังหวัดอ่างทอง</button>
              </div>

              <div class="col-6">
                <button type="button" class="btn btn-success">จังหวัดชลบุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-success">จังหวัดระยอง</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-success">จังหวัดจันทบุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-success">จังหวัดตราด</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-success">จังหวัดนครนายก</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-success">จังหวัดฉะเชิงเทรา</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-success">จังหวัดปราจีนบุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-success">จังหวัดสระแก้ว</button>
              </div>

              <div class="col-6">
                <button type="button" class="btn btn-secondary">จังหวัดกาญจนบุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-secondary">จังหวัดประจวบคีรีขันธ์</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-secondary">จังหวัดสุพรรณบุรี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-secondary">จังหวัดเพชรบุรี</button>
              </div>              
              <div class="col-6">
                <button type="button" class="btn btn-secondary">จังหวัดนครปฐม</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-secondary">จังหวัดราชบุรี</button>
              </div>


              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดกระบี่</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดชุมพร</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดตรัง</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดกนครศรีธรรมราช</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดนราธิวาส</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดปัตตานี</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดพังงา</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดพัทลุง</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดภูเก็ต</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดยะลา</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดระนอง</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดสงขลา</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดสตูล</button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary">จังหวัดสุราษฎร์ธานี</button>
              </div>
    </div>
  </div>
  <h1> </h1>
</body>
</html>