<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body background="Back.jpg">

</body>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">ภาคกลาง</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ภาคเหนือ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ภาคตะวันออกเฉียงเหนือ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ภาคตะวันตก</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ภาคตะวันออก</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">ภาคใต้</a>
  </li>
</ul>
    </div>

<body>
  
 
      <div class="figure">
        <p><img src="Back.JPG" width="=150" height="240" alt = "Back">
          <p>คำอธิบายเพิ่มเติม
            สถานที่ของจังหวัดเชียงใหม่นี้........
      </div>
    </div>
  </nav>
</body>
</html>